@model IEnumerable<VisualBasic.NetMVC.Models.Articulo>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Borrar
            </th>
            <th>
                Modificar
            </th>
        </tr>

        @foreach (var articulo in Model)
        {
            <tr>
                <td>
                    @articulo.Codigo
                </td>
                <td>
                    @articulo.Descripcion
                </td>
                <td>
                    @articulo.Precio
                </td>
                <td>
                    <a href="/Articulo/Baja?cod=@articulo.Codigo">borrar?</a>
                </td>
                <td>
                    <a href="/Articulo/Modificacion?cod=@articulo.Codigo">modificar?</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Articulo/Alta">Agregar</a>
</body>
</html>
