@model VisualBasic.NetMVC.Models.Articulo

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificacion</title>
</head>
<body>
    <div>
        <form method="post" action="/Articulo/Modificacion">
            Codigo:
            <input type="text" name="codigo" value="@Model.Codigo" readonly />
            <br />
            Descripcion:
            <input type="text" name="descripcion" value="@Model.Descripcion" />
            <br />
            Precio:
            <input type="text" name="precio" value="@Model.Precio" />
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>
